doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test 1
    link(rel='stylesheet', href='./css/1.css')
  body
    h1 Test 1

    #controls
      input#numbers(type=text, placeholder='Start, Stop, Step')
      button#getNumbers Odd 4ths

    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/1.js')
