doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test 2
    link(rel='stylesheet', href='./css/2.css')
  body
    h1 Test 2

    #controls
      input#zip(type='text', placeholder='Enter a ZIP code.', autofocus=true)
      button#get Get Cams

    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/2.js')
