doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test 3
    link(rel='stylesheet', href='./css/3.css')
  body
    h1 Test 3

    #controls
      input#copy(type='text', placeholder='Copy and paste your text.')
      button#get Count

    #output
      #chartdiv

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/serial.js')
    script(src='http://www.amcharts.com/lib/3/themes/light.js')
    script(src='./js/es6/3.js')
